[submodule "three20"]
	path = three20
	url = git://github.com/facebook/three20.git
[submodule "Frameworks/QSUtilities"]
	path = Frameworks/QSUtilities
	url = git://github.com/mikeho/QSUtilities.git
[submodule "Frameworks/InAppSettingsKit"]
	path = Frameworks/InAppSettingsKit
	url = https://github.com/futuretap/InAppSettingsKit.git
[submodule "Frameworks/TSAlertView"]
	path = Frameworks/TSAlertView
	url = git://github.com/TomSwift/TSAlertView.git
[submodule "Frameworks/MBProgressHUD"]
	path = Frameworks/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "Frameworks/ASIHTTPRequest"]
	path = Frameworks/ASIHTTPRequest
	url = git://github.com/pokeb/asi-http-request.git
[submodule "Frameworks/ShareKit"]
	path = Frameworks/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
[submodule "Frameworks/EGOTableViewPullRefresh"]
	path = Frameworks/EGOTableViewPullRefresh
	url = https://github.com/enormego/EGOTableViewPullRefresh.git
