[submodule "Frameworks/ViewDeck"]
	path = Frameworks/ViewDeck
	url = git://github.com/Inferis/ViewDeck.git
[submodule "Frameworks/iRate"]
	path = Frameworks/iRate
	url = git://github.com/nicklockwood/iRate.git
[submodule "Frameworks/SDWebImage"]
	path = Frameworks/SDWebImage
	url = git://github.com/rs/SDWebImage.git
[submodule "Frameworks/ASIHTTPRequest"]
	path = Frameworks/ASIHTTPRequest
	url = git://github.com/pokeb/asi-http-request
[submodule "Frameworks/MBProgressHUD"]
	path = Frameworks/MBProgressHUD
	url = git://github.com/jdg/MBProgressHUD.git
[submodule "Frameworks/TSAlertView"]
	path = Frameworks/TSAlertView
	url = git://github.com/TomSwift/TSAlertView.git
[submodule "Frameworks/EGOTableViewPullRefresh"]
	path = Frameworks/EGOTableViewPullRefresh
	url = git://github.com/enormego/EGOTableViewPullRefresh.git
[submodule "Frameworks/json-framework"]
	path = Frameworks/json-framework
	url = git://github.com/stig/json-framework.git
[submodule "Frameworks/ShareKit"]
	path = Frameworks/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
[submodule "Frameworks/TMQuiltView"]
	path = Frameworks/TMQuiltView
	url = git://github.com/1000Memories/TMQuiltView.git
